@import "@fontsource/roboto";


*{
  margin: 0px;
  padding: 0px;
  font-family: "Roboto";  
}



a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body{
  background-color: #0a192f;
}